/*
    Carl Zhang and Alex Falk
*/

.search_box {
  margin: auto;
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.center {
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.box{
  float: right;
  display: flex;
}

.results_box {
  float: left;
  width: 75%;
  height: 100%;
  border: 3px solid gray;
  margin: 0;
}

.movie_recs_box {
  float: right;
  width: 20%;
  height: 100%;
  border: 3px solid gray;
  margin: 0;
}

.movie_reviews_box {
  float: right;
  width: 30%;
  height: 100%;
  border: 3px solid gray;
  margin: 0;
}

.box_label_text {
  text-align: center;
  font-size: large;
}

.movie_table {
  margin: auto;
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.mainpage_items {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  position: relative;
}

h1 {
  color: white;
}

p {
  color: white;
}

#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}