<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='movies.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='movies.js') }}" ></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <title>CS 257: Awesome Movie Website</title>
</head>

<body onload="onBioLoad();">
        <!-- <h2>MOVIE NAME</h2>
        <div style="width: 65%">
            <div style="border-right:1px solid; float:left" id="movie_bio_info">
                <ul>
                    <li>
                        Here's where the movie bios will go
                    </li>
                    <li>
                        We are using bullet points to show how far this box will extend
                    </li>
                    <li>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi at semper libero. Duis vel aliquam magna, vel pretium nunc. Nunc sed nisl sed lectus posuere lacinia quis a tortor. Sed sed mi at ante fermentum cursus. Mauris finibus vitae justo quis vehicula. Integer sodales vel felis ut pulvinar. Nullam ut neque tempus, bibendum sapien nec, faucibus mauris. Nam pellentesque accumsan lectus, at venenatis massa sagittis eget. Vivamus id leo placerat, placerat ex vel, interdum nunc. Aliquam tincidunt posuere nibh, sit amet luctus velit accumsan ac. Nunc quis pharetra est. Vestibulum lobortis auctor magna sed viverra.
                    </li>
                </ul>
            </div>
        </div -->

    <div class="navbar">
        <div class="left">
            <a href="/" title="go back to home page">
                <img src="../static/favicon.ico">
            </a>
            <h2 style="padding-left: 25px;" id="display_user_input">MOVIE NAME</h2>
        </div>
        <div class="right">
            <input type="text" placeholder="New search..." name="search" id="movie_search_box2">
            <button type="submit" id="movie_search_button2"><i class="fa fa-search"></i>Submit</button>
        </div>
    </div>
    <div class="main_results_box">
        <div class="bio_box" id="movie_bio_box">
            <p id="loading_text"></p>
            <!-- <div>
                <img class="bio_img" src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Aliquet eget sit amet tellus cras. Urna porttitor rhoncus dolor purus non. Ultrices in iaculis nunc sed. Pellentesque habitant morbi tristique senectus et netus. Tortor dignissim convallis aenean et tortor at. Ligula ullamcorper malesuada proin libero nunc consequat interdum varius sit. Amet mauris commodo quis imperdiet massa tincidunt. Morbi tempus iaculis urna id volutpat lacus laoreet non curabitur. Augue mauris augue neque gravida in fermentum et sollicitudin ac. Lacus laoreet non curabitur gravida. In aliquam sem fringilla ut morbi tincidunt. Platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras. Eleifend quam adipiscing vitae proin.
                </p>
            </div> -->
        </div>
        <div class="movie_reviews_box"> 
            <p class="box_label_text">
                Reviews
            </p>
            <ul>
                <li>
                    Here's where the movie bios will go
                </li>
                <li>
                    There will be icons with links
                </li>
                <li>
                    We are using bullet points to show how far this box will extend
                </li>
            </ul>
        </div>
    </div>

    </body>
    </html>