<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='movies.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='movies.js') }}" ></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <title>CS 257: Awesome Movie Website</title>
</head>

<body onload="onBioLoad();">      
    <div class="main_results_box">
        <div class="bio_box" id="movie_bio_box">
            <p id="loading_text"></p>
        </div>
        <div class="movie_directors_box"> 
            <h1 style="margin:10px" class="box_label_text">
                Additional Information
            </h1>
            <h2>
                Directors:
            </h2>
            <ul id="directors_list">
            </ul>
            <h2>
                Budget:
            </h2>
            <ul id="budget_list">
            </ul>
            <h2>
                Revenue:
            </h2>
            <ul id="revenue_list">
            </ul>
            <h2>
                Runtime:
            </h2>
            <ul id="runtime_list">
            </ul>
        </div>
    </div>
</body>
</html>