<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='movies.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='movies.js') }}" ></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <title>CS 257: Awesome Movie Website</title>
</head>

<body>
<div id="search_elements">
    <div>
        <video autoplay muted loop id="myVideo">
            <source src="static/movies.mp4" type="video/mp4">
        </video>
    </div>
    <div class="mainpage_items">
        <div>
            <h1>MOVIES</h1>
        </div>
        <div>
            <p style="color:white"> Enter the name of a movie you are looking for!</p>
        </div>
        <div>
            <input type="text" placeholder="Search..." name="search" id="movie_search_box">
            <button type="submit" id="movie_search_button">Submit</button>
        </div>
        
        
        <div style="justify-content: space-around;">
            <p style="color: white; text-align: center;"> Advanced Search</p>
            <button style="height: 20px" type="submit">Year</button>
            <button style="height: 20px" type="submit">Ratings</button>
            <button style="height: 20px" type="submit">Best Movie Ever</button>
        </div>
    </div>
</div>

<div id="results_elements" style="display: none;">
    <div class="navbar">
        <div class="left">
            <a href="/" title="go back to home page">
                <img src="../static/favicon.ico">
            </a>
            <h2 style="padding-left: 25px;" id="display_user_input"></h2>
        </div>
        <div class="right">
            <input type="text" placeholder="New search..." name="search" id="movie_search_box2">
            <button type="submit" id="movie_search_button2"><i class="fa fa-search"></i>Submit</button>
        </div>
    </div>
    
    <div class="main_results_box">
        <div class="results_box" id="movies_list">
            <p id="loading_text"></p>
        </div>
        <div class="movie_recs_box"> 
            <p id="loading_recs_text"></p>
        </div>
        <div class="results_index" id="results_page_numbers">
        </div>
    </div>
</div>
</body>
</html>
