<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='movies.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='movies.js') }}" ></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <title>CS 257: Awesome Movie Website</title>
</head>

<body>
    <div>
        <video autoplay muted loop id="myVideo">
            <source src="static/movies.mp4" type="video/mp4">
        </video>
    </div>
    <div class="mainpage_items">
        <div>
            <h1>MOVIES</h1>
        </div>
        <div>
            <p> Enter the name of a movie you are looking for!</p>
        </div>
        <div>
            <input type="text" placeholder="Search..." name="search">
            <a href="/results"><button type="submit" id="movie_search_button">Submit</button></a>
        </div>
        
        
        <div style="justify-content: space-around;">
            <p style="text-align: center;"> Advanced Search</p>
            <button style="height: 20px" type="submit">Year</button>
            <button style="height: 20px" type="submit">Ratings</button>
            <button style="height: 20px" type="submit">Best Movie Ever</button>
        </div>
    </div>
    </body>
</html>
