<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='movies.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='movies.js') }}" ></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <title>CS 257: Awesome Movie Website</title>
</head>

<body>
<div id="search_elements">
    <div>
        <video autoplay muted loop id="myVideo">
            <source src="static/movies.mp4" type="video/mp4">
        </video>
    </div>
    <div class="mainpage_items">
        <div>
            <h1 style="color:white">MOVIES</h1>
        </div>
        <div>
            <p style="color:white"> Enter the name of a movie you are looking for!</p>
        </div>
        <div>
            <input type="text" placeholder="Search..." name="search" id="movie_search_box">
            <button type="submit" id="movie_search_button">Submit</button>
        </div>
        
        
        <!-- <div style="justify-content: space-around;">
            <p style="color: white; text-align: center;"> Advanced Search</p>
            <button style="height: 20px" type="submit">Year</button>
            <button style="height: 20px" type="submit">Ratings</button>
            <button style="height: 20px" type="submit">Best Movie Ever</button>
        </div> -->
    </div>
</div>

<div id="results_elements" style="display: none;">
    <div class="navbar">
        <div class="left">
            <a href="/" title="go back to home page">
                <img src="../static/favicon.ico">
            </a>
            <h2 style="padding-left: 25px;" id="display_user_input"></h2>
        </div>
        <div class="right">
            <input type="text" placeholder="New search..." name="search" id="movie_search_box2">
            <button type="submit" id="movie_search_button2"><i class="fa fa-search"></i>Submit</button>
        </div>
    </div>
    
    <div class="main_results_box">
        <div class="results_box" id="movies_list">
            <p id="loading_text"></p>
        </div>
        <div class="movie_filter_box"> 
            <div>
                <h3 style="text-align:center; margin:5px">
                    Movies (26)
                </h3>
            </div>
            <div id="exampletable">
                <div style="justify-content: center;">
                    <input  type="text" placeholder="Start Year" id="filter_start_year">
                    <input type="text" placeholder="End Year" id="filter_end_year"><br>
                    <button type="submit" id="submit_year">submit year info</button>
                </div>
                <div>
                    <p>wqvddidnjkwcojinjkno</p>
                    <p>wqvddidnjkwcojinjkno</p>
                    <p>wqvddidnjkwcojinjkno</p>
                    <p>wqvddidnjkwcojinjkno</p>
                    <p>wqvddidnjkwcojinjkno</p>
                </div>
                <div class="dropdown">
                    <button onclick="myFunction()" class="dropbtn">Genre Info</button>
                    <div id="myDropdown" class="dropdown-content">
                        <input type="checkbox" id="sci" name="sci">
                        <label for="sci">Science Fiction</label><br>
                        <input type="checkbox" id="dra" name="dra">
                        <label for="dra">Drama</label><br>
                        <input type="checkbox" id="act">
                        <labe>Action</label><br>
                        <input type="checkbox" id="adv">
                        <labe>Adventure</label><br>
                        <input type="checkbox" id="com">
                        <labe>Comedy</label><br>
                        <input type="checkbox" id="mys">
                        <labe>Mystery</label><br>
                        <input type="checkbox" id="rom">
                        <labe>Romance</label><br>
                        <input type="checkbox" id="ani">
                        <labe>Animation</label><br>
                        <input type="checkbox" id="fan">
                        <labe>Fantasy</label><br>
                        <input type="checkbox" id="doc">
                        <labe>Documentary</label><br>
                        <input type="checkbox" id="thr">
                        <labe>Thriller</label><br>
                        <input type="checkbox" id="for">
                        <labe>Foreign</label><br>
                        <input type="checkbox" id="cri">
                        <labe>Crime</label><br>
                        <input type="checkbox" id="his">
                        <labe>History</label><br>
                        <input type="checkbox" id="wes">
                        <labe>Western</label><br>
                        <input type="checkbox" id="hor">
                        <labe>Horror</label><br>
                        <input type="checkbox" id="war">
                        <labe>War</label><br>
                        <input type="checkbox" id="fam">
                        <label>Family</label><br>
                        <input type="checkbox" id="mus">
                        <label>Music</label><br>
                        <input type="checkbox" id="tvm">
                        <label>TV Movie</label><br>
                        <input type="checkbox" id="adult">
                        <label>Adult</label><br>
                    </div>
                    <button type="submit" id="submit_genre">submit genre info</button>
                </div>
                <p>wqvddidnjkwcojinjkno</p>
                <p>wqvddidnjkwcojinjkno</p>
                <p>wqvddidnjkwcojinjkno</p>
                <p>wqvddidnjkwcojinjkno</p>
                <p>wqvddidnjkwcojinjkno</p>
                <p>wqvddidnjkwcojinjkno</p>
                <p>wqvddidnjkwcojinjkno</p>
                <p>wqvddidnjkwcojinjkno</p>
                <p>wqvddidnjkwcojinjkno</p>
            </div>
        </div>
        <div class="results_index" id="results_page_numbers">
        </div>
    </div>
</div>
</body>
</html>
