.box{
    float: right;
    display: flex;
}

.results_box {
    float: left;
    display: flex;
    width: 450px;
    height: 600px;
    border: 3px solid gray;
    margin: 0;
}

.movie_recs_box {
    float: right;
    width: 200px;
    height: 600px;
    border: 3px solid gray;
    margin: 0;
}

.box_label_text {
    text-align: center;
    font-size: large;
}